<!DOCTYPE html>
<html>
<head>
<title>{{body.prefferedLabel.0.value}}</title>
</head>
<body>
<h2>{{body.prefferedLabel.0.value}} - ({{entity.id}})</h2>
</script>
<ul>
{{{body}}}
{{#each body as |value|}}<li data-automation-id="{{@key}}"> {{@key}} - {{#each value as |output|}}{{#if output.lang}}({{output.lang}}) {{output.value}}{{else}}{{output}}{{/if}};{{/each}}</li>
{{/each}}
</ul>
</body>
</html>