<!DOCTYPE html>
<html>
<head>
<title>{{body.prefferedLabel.value}}</title>
</head>
<body>
<h1>{{body.prefferedLabel.value}} - ({{entity.id}})</h1>
</script>
<ul>
{{#each body}}
<li> {{@key}} - {{this}}
{{/each}}
</ul>
</body>
</html>